@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #233C79;
    --secondary: #CE2028;
    --light: #F9F1F7;
    --shade: #B59758;
    --blue-shade: #DCEDF9;

    --title: "Lato", sans-serif;
}

/* Navigation section */
nav {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(35, 60, 121, 0.2);
}

.nav-title {
    font-size: 1.5rem;
    font-family: var(--title);
    font-weight: 800;
    color: var(--primary);
}

.login-container{
    height: 100vh;

}

.heading {
    font-family: var(--title);
    color: var(--primary);
    font-weight: 700;
    padding: 1rem;
}

.submit-btn,
.submit-btn:active,
.submit-btn:visited,
.submit-btn:focus {
    background-color: var(--primary);
    font-weight: 700;
    width: 100%;
    border-color: var(--primary);
}

/* .submit-btn:hover {
    background-color: var(--blue-shade);
    color: #233C79;
} */

/* .login-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
} */

form {
    color: var(--primary);
    font-weight: 600;
}

.home-container {
    height: 100vh;
    background-color: var(--blue-shade);
}

.home-heading {
    padding: 8rem 0 0 0;
}

.home-slogan {
    width: 62%;
    margin: 0 auto;
    padding: 1.5rem 0 0 0;
}

.search-container {
    width: 50%;
    margin: 2rem auto;
}
.about-container{
    padding: 0 2rem;
}